bin/Debug/
bin/Debug/net8.0/MyMvcApp.dll
bin/Debug/net8.0/MyMvcApp.exe
bin/Debug/net8.0/MyMvcApp.pdb
bin/Debug/net8.0/MyMvcApp.staticwebassets.runtime.json
obj/MyMvcApp.csproj.nuget.dgspec.json
obj/MyMvcApp.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/MyMvcApp.AssemblyInfo.cs
obj/Debug/net8.0/MyMvcApp.AssemblyInfoInputs.cache
obj/Debug/net8.0/MyMvcApp.assets.cache
obj/Debug/net8.0/MyMvcApp.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/MyMvcApp.csproj.FileListAbsolute.txt
obj/Debug/net8.0/MyMvcApp.dll
obj/Debug/net8.0/MyMvcApp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/MyMvcApp.genruntimeconfig.cache
obj/Debug/net8.0/MyMvcApp.pdb
obj/Debug/net8.0/MyMvcApp.sourcelink.json
obj/Debug/net8.0/staticwebassets.build.json
obj/Debug/net8.0/staticwebassets.development.json
obj/Debug/net8.0/staticwebassets.pack.json
obj/Debug/net8.0/ref/MyMvcApp.dll
obj/Debug/net8.0/refint/MyMvcApp.dll
obj/Debug/net8.0/staticwebassets/msbuild.MyMvcApp.Microsoft.AspNetCore.StaticWebAssets.props
